@import url("colors-waybar.css");

* {
    font-family: MesloLGS Nerd Font;
    font-size: 11px;
}

window#waybar {
    background-color: @background;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: none;
    border: 5px;
    border-radius: 20px;
}

#workspaces button {
    padding: 0 5px;
    transition: none;
    background-color: @color1;
    color: #FFD700;
}

#workspaces button:hover {
    background-color: @color3;
}

#workspaces button.focused {
    color: @color4;
}

#workspaces button:active {
    color: @color4;
}

#mode {
    background-color: @color2;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-keyboard-layout,
#custom-weather-layout,
#custom-power,
#custom-notification,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: @foreground;
}

@keyframes blink {
    to {
        background-color: @color0;
        color: @foreground;
    }
}

#cpu {
    border: 5px;
    border-radius: 20px;
    background-color: @color1;
    color: #000000;
}

#memory {
    border: 5px;
    border-radius: 20px;
    color: #000000;
    background-color: @color2;
}

#disk {
    border: 5px;
    border-radius: 20px;
    color: #000000;
    background-color: @color3;
}

#temperature {
    border: 5px;
    border-radius: 20px;
    color: #000000;
    background-color: @color4;
}

#temperature.critical {
    border: 5px;
    border-radius: 20px;
    color: #000000;
    background-color: @color9;
}

#battery {
    border: 5px;
    border-radius: 20px;
    background-color: @color5;
    color: #000000;
}

#battery.charging, #battery.plugged {
    border: 5px;
    border-radius: 20px;
    color: #000000;
    background-color: @color6;
}

#battery.critical:not(.charging) {
    border: 5px;
    border-radius: 20px;
    background-color: @color9;
    color: #000000;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-keyboard-layout{
    border: 5px;
    border-radius: 20px;
    color: #000000;
    background-color: @color6;
} 

 #custom-weather-layoutt{
    border: 5px;
    border-radius: 20px;
    
    background-color: @color8;
}

#custom-notification{
    border: 5px;
    border-radius: 20px;
    color: #000000;
    background-color: @color9;
} 

#pulseaudio {
    border: 5px;
    border-radius: 20px;
    background-color: @color10;
    color: #000000;
}

#pulseaudio.muted {
    border: 5px;
    border-radius: 20px;
    background-color: @color11;
    color: #000000;
}


#backlight {
    border: 5px;
    border-radius: 20px;
    color: #000000;
    background-color: @color12;
}

#clock {
    border: 5px;
    border-radius: 20px;
    color: #000000;
    background-color: @color13;
}

#tray {
    border: 5px;
    border-radius: 20px;
    background-color: @color14;
}

#custom-power{
    border: 5px;
    border-radius: 20px;
    color: #000000;
    background-color: @color15;
} 

#network {
    border: 5px;
    border-radius: 20px;
    background-color: @color4;
}

#network.disconnected {
    border: 5px;
    border-radius: 20px;
    background-color: @color9;
}

#idle_inhibitor {
    border: 5px;
    border-radius: 20px;
    background-color: @color2;
}

#idle_inhibitor.activated {
    border: 5px;
    border-radius: 20px;
    background-color: @color7;
    color: @color2;
}
