* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: transparent;
}

button {
	border-radius: 100%;
	border-color: transparent;
	text-decoration-color: #FFFFFF;
	color: #FFFFFF;
	background-color: transparent;
	outline-style: none;
	border-style: solid;
	border-width: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
  }

button:focus, button:active, button:hover {
	background-color: #ff6200;
	outline-style: none;
}

button:hover {
    background-color: #ff0000;
}

#lock {
    background-image: url("/home/hari/.config/wlogout/icons/lock.png");
}

#lock:hover {
    background-image: url("/home/hari/.config/wlogout/icons/lock-hover.png");
}

#logout {
    background-image: url("/home/hari/.config/wlogout/icons/logout.png");
}

#logout:hover {
    background-image: url("/home/hari/.config/wlogout/icons/logout-hover.png");
}

#suspend {
    background-image: url("/home/hari/.config/wlogout/icons/sleep.png");
}

#suspend:hover {
    background-image: url("/home/hari/.config/wlogout/icons/sleep-hover.png");
}

#hibernate {
    background-image: url("/home/hari/.config/wlogout/icons/hibernate.png");
}

#hibernate:hover {
    background-image: url("/home/hari/.config/wlogout/icons/hibernate-hover.png");
}

#shutdown {
    background-image: url("/home/hari/.config/wlogout/icons/power.png");
}

#shutdown:hover {
    background-image: url("/home/hari/.config/wlogout/icons/power-hover.png");
}

#reboot {
    background-image: url("/home/hari/.config/wlogout/icons/restart.png");
}

#reboot:hover {
    background-image: url("/home/hari/.config/wlogout/icons/restart-hover.png");
}